<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Com.CodeGame.CodeWizards2016.DevKit.CSharpCgdk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Com.CodeGame.CodeWizards2016.DevKit.CSharpCgdk.Properties.Settings>
            <setting name="ResourcesDir" serializeAs="String">
                <value>.\</value>
            </setting>
            <setting name="EnableAudio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ObserveTarget" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowMinimap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowSizeW" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="WindowSizeH" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="ScreenMoveK" serializeAs="String">
                <value>500</value>
            </setting>
        </Com.CodeGame.CodeWizards2016.DevKit.CSharpCgdk.Properties.Settings>
    </applicationSettings>
</configuration>