<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Com.CodeGame.CodeWizards2016.DevKit.CSharpCgdk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <nlog throwExceptions="true" autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="csharp-cgdk.log" />
      <target xsi:type="Console" name="logConsole" encoding="utf-8" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="logfile" />
      <logger name="*" minlevel="Info" writeTo="logConsole" />
    </rules>
  </nlog>
  <applicationSettings>
    <Com.CodeGame.CodeWizards2016.DevKit.CSharpCgdk.Properties.Settings>
      <setting name="ResourcesDir" serializeAs="String">
        <value>..\..\..\..\..\resources\</value>
      </setting>
      <setting name="EnableAudio" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ObserveTarget" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowMinimap" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WindowSizeW" serializeAs="String">
        <value>1080</value>
      </setting>
      <setting name="WindowSizeH" serializeAs="String">
        <value>1080</value>
      </setting>
      <setting name="ScreenMoveK" serializeAs="String">
        <value>100</value>
      </setting>
    </Com.CodeGame.CodeWizards2016.DevKit.CSharpCgdk.Properties.Settings>
  </applicationSettings>
</configuration>
